*{
	margin: 0;
	padding: 0;
}
#div_all{
	width: 1100px;
    height: 1500px;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-top: 20px;
}
#div_button{
	width:150px;
	height:40px;
	/*background-color: #86D3E4;*/
	text-align:center;
	line-height: 40px;
}
#div_button button{
	width:100px;
	height: 30px;
	color: #DF4D4E;
}
#div_content_list01{
	border: 1px solid lightgray;
	width:1100px;
	height: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#div_content_list02{
	border: 1px solid lightgray;
	width:1100px;
	height: 150px;
	margin-top: 10px;
	border-radius: 5px;
}
#div_content_list03{
	border: 1px solid lightgray;
	width:1100px;
	height: 150px;
	margin-top: 10px;
	border-radius: 5px;
}
#div_content_list04{
	border: 1px solid lightgray;
	width:1100px;
	height: 150px;
	margin-top: 10px;
	border-radius: 5px;
}
#div_content_list05{
	border: 1px solid lightgray;
	width:1100px;
	height: 600px;
	margin-top: 10px;
	border-radius: 5px;
}
.div_list_pro{
	float: left;
	width: 250px;
	text-align: center;
}
.div_list{
	width: 1100px;
	height:40px;
	font-family: "微软雅黑";
	font-size: 20px;
	border-radius: 5px;
	background-color: #282828;
	color: white;
	line-height: 40px;
	
}
.div_list p{
	margin-left: 10px;
}
.div_list_word{
	width: 1100px;
	height:30px;
	/*background-color: #C3C3C3;*/
	line-height: 30px;
	font-family: "微软雅黑";
}
.div_list_word p{
	float: left;
	margin-left: 20px;
}
#div_list_word_right{
	color:red;
}
.div_list_have{
	margin-top: 10px;
	margin-left: 10px;
	/*background-color: #389DC1;*/
	width: 800px;
	height: 25px;
	line-height: 25px;
}
.div_list_have p{
	float: left;
	color: gray;
}
.div_input{
	width: 150px;
	height: 25px;
	margin-left: 10px;
}
#div_list_have_button{
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
}
.div_list_prodisplay{
	height: 50px;
	line-height: 50px;
	width: 1100px;
	border: 1px solid #DF4D4E;
	margin-top: 10px;
}
