*{
	margin: 0px;
	padding: 0px;
}
#div_head{
	width: 1100px;
	height: 50px;
	line-height: 50px;
	background-color: #282828;
	color: white;
	margin-left: 30px;
	margin-top:20px ;
	border-radius: 10px;
	/*font-size: 25px;*/
}
#p1{
	font-size: 25px;
	color: white;
	float: left;
	margin-left: 30px;
}
#p2{
	font-size: 17px;
	float:left;
	color: white;
	margin-left: 10px;
	
}
#div_all{
	width: 1100px;
	height: 1000px;
	background-color:whitesmoke;
	margin-left: 30px;
	margin-top: 10px;
	border: 0px;
	overflow: hidden;
	border-radius: 10px;
}
.div_list{
	width: 1100px;
	height: 60px;
	margin-top: 2px;
	/*background-color: cadetblue;*/
}
.div_list_left{
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	background-color: lightgray;
	float: left;
}
.div_list_right{
	/*background-color: wheat;*/
	width: 800px;
	height: 60px;
	line-height: 60px;
}
.div_list_right span{
	color: red;
}
.div_list01_input{
	width: 200px;
	height: 30px;
	margin-left: 20px;
}
.div_list_right_select01{
	width: 150px;
	height: 30px;
	margin-left: 20px;
	
}
#div_list_right_select02{
	width: 150px;
	height: 30px;
	margin-left: 10px;
}
.div_list_radio01{
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}
.div_list_right p{
	float: left;
	margin-left: 10px;
}
.div_list_radio02{
	float:left;
	margin-left: 20px;
	margin-top: 25px;
}
#div_pro_des{
	width: 1100px;
	height: 150px;
	margin-top: 2px;
	/*background-color: cadetblue;*/
}
#div_pro_des_left{
	width: 200px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 20px;
	background-color: lightgray;
	float: left;
}
#div_pro_des_right{
	/*background-color: wheat;*/
	width: 800px;
	height: 150px;
	line-height: 150px;
}
#div_textarea{
	width: 550px;
	height: 140px;
}
#div_button01{
	width: 300px;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin-left: 30px;
	/*background-color: #F0A3AF;*/
}
#div_button01 button{
	width: 100px;
	height: 30px;
	
}
#div_button02{
	width: 500px;
	height: 60px;
	float: left;
	line-height: 60px;
	/*background-color: brown;*/
}
#div_button02 button{
	width: 100px;
	height: 30px;
}
