*{
	margin: 0px;
	padding: 0px;
}
#div_all{
	width: 1370px;
	height:700px;
	hi
	background-color: #389DC1;
}
#div_head{
	
	margin: 0px,auto;
	width: 1370px;
	height:80px;
	/*background-color: #C3C3C3;*/
	border-bottom: 2px solid #DF4D4E;
}
#div_head ul{
	margin-left: 200px;
	float: left;
}
#div_head ul li{
	margin-left: 10px;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	/*background-color: #389DC1;*/
}
#div_head ul li button{
	
	/*color: white;
	background-color: #282828;*/
	width: 80px;
	height: 30px;
}

#div_head_right{
	/*background-color: #389DC1;*/
	width: 400px;
	height: 80px;
	margin-left: 600px;

}
#div_head_right input{
	width: 300px;
	height: 35px;
	border-radius:5px ;
	margin-top: 22px;
}
#search_div{
	float: right;
	margin-top: 24px;
	margin-right: 50px;
	width: 32px;
	height: 32px;
	
	
}
#search_div img{
	opacity: 1;
}
#search_div:hover img{
	opacity: 0;
}
#search_div:hover{
	background-color: white;
    background-image:url(../img/sousuo.png);
}
/*涓棿鏈�澶iv*/
#div_middle{
	width: 1370px;
	height:800px;
	background-color:whitesmoke;
	padding-top: 15px;
	border: 0px;
}
#div_middle_title{
	width: 1100px;
	height: 50px;
	border-radius:10px ;
	margin-left: 20px;
	background-color: #282828;
	line-height: 50px;
}
#div_miaddle_div01{
	width: 100px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
#div_miaddle_div01 input{
	margin-top:20px;
}
#div_miaddle_div02{
	width: 100px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
#div_miaddle_div03{
	width: 400px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
#div_miaddle_div04{
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
#div_miaddle_div05{
	width: 120px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
}
#div_miaddle_div06{
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	float: left;
	color: white;
	text-align: center;
	/*background-color: #72C1D2;*/
	
}
.div_miaddle_middle{
	width: 1100px;
	height: 60px;
	border: 1px solid #DF4D4E;
	/*border-radius:10px ;*/
	margin-left: 20px;
	margin-top: 10px;
}



.div_miaddle_div_list011{
	width: 100px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	float: left;
	
	text-align: center;
}
.div_miaddle_div_list011 input{
	margin-top:25px;
}
.div_middle_div_list022{
	width: 100px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	float: left;
	
	text-align: center;
}
.div_middle_div_list033{
	width: 400px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	float: left;
	/*background-color: #72C1D2;*/
	text-align: center;
	position: relative;
}
.div_middle_div_list033 img{
	width: 45px;float: left;
	height: 60px;
	margin-left: 20px;
	
}

.div_middle_div_list044{
	width: 120px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	float: left;
	
	text-align: center;
}
.div_middle_div_list055{
	width: 120px;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	float: left;
	
	text-align: center;
}
.div_middle_div_list066{
	width: 250px;
	height: 60px;
	/*line-height: 60px;*/
	font-size: 20px;
	float: left;
	
	text-align: center;
	/*background-color: #72C1D2;*/
	
}
.div_middle_div_list066 a{
	color: #DF4D4E;
}
.div_img{
	width: 32px;
	height: 32px;
	/*background-color: #72C1D2;*/
	margin-left:44px ;
	margin-top: 14px;
}
.div_delect{
	width: 50px;
	height: 30px;
	float: left;
	line-height: 30px;
	margin-top: 15px;
	margin-left: 80px;
	/*border-right: 1px solid #DF4D4E;*/
	/*background-color: #C3C3C3;*/
}
.div_update{
	width: 50px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
	/*background-color: #C3C3C3;*/
	
}
.div_hiddlen{
	position: absolute;
	z-index: 20;
	left: 65px;
	top: 0px;
	z-index:-10;
	width:500px ;
	height: 300px;
	/*line-height: 300px;*/
	background-color:white;
	border-radius: 5px;
	overflow: hidden;
	opacity: 0;
}

.div_hiddlen img{
	width:225px ;
	height: 300px;
	margin-left: 0px;
}
/*#img_hover:hover .div_hiddlen{
	opacity: 1;
}*/
.div_span{
	display: inline-block;
	width: 200px;
	height: 250px;
	/*background-color: #389DC1;*/
	margin-top: 25px;
	font-size: 15px;
	line-height: 2;
}
#pagemodel{
	margin-left:400px;
	margin-top:20px;
	
}
#pagemodel a{
	color:#282828;
}






